*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: rgb(186, 231, 231);
  text-align: center;
}
.container{
  width: 400px;
  margin: auto;
  background: rgb(42, 133, 133);
  padding: 10px 30px;
  margin-top: 100px;
  border-radius: 6px;
  text-align: center;
}
.password-container{
  width: 95%;
  margin-left: 10px;
  margin-top: 20px;
}
.input-build{
  width: 100%;
  border: 2px solid rgb(8, 69, 69);
  display: flex;
}
.input-build input{
  flex: 1;
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  background: transparent;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  color: #ffff;
}

.input-build button{
  background: transparent;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  border: none;
  outline: 0;
  padding-right: 10px;
}
.input-build button i{
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.inciude-character{
  margin-block: 20px;
}
.box-content{
  display: flex;
  justify-content: space-between;
  padding: 9px;
}
label{
  font-size: 18px;
  color: rgb(5, 71, 49);
}
input[type="number"]{
  padding: 2px 5px;
  cursor: pointer;
  border: none;
  outline: none;
}
input[type="checkbox"]{
  width: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}
.create-password{
  margin-bottom: 20px;
}
.create-password button{
  width: 100%;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgb(3, 84, 84);
  color: #fff;
}
.create-password button:hover{
  background: rgb(25, 80, 80);
}